@font-face {
    font-family: bold;
    font-style: normal;
    src: url(CamptonBold.otf);
}
.Playername {
font-family: bold;
position: fixed;
font-size: 45px;
color: #ffffff;
top: 762px;
text-transform: uppercase;
text-align: center;
width: 450px;
text-shadow: black 2px 2px 5px;
}
.Zeile1 {
    left: 168px;
}
.Zeile2 {
    left: 734px;
}
.Zeile3 {
    left: 1300px;
}