@font-face {
    font-family: bold;
    font-style: normal;
    src: url(CamptonBold.otf);
}
.Callername {
    font-size: 48px;
    font-family: bold;
    position: absolute;
    color: white;
}