@font-face {
    font-family: condensed;
    font-style: normal;
    src: url(ROC_GROTESK_CONDENSED_MEDIUM.otf);
}
@font-face {
    font-family: extrabold;
    font-style: normal;
    src: url(ROC_GROTESK_EXTRABOLD_WIDE.otf);
}
@font-face {
    font-family: bold;
    font-style: normal;
    src: url(ROC_GROTESK_EXTRABOLD.otf);
}
body {
    margin: 0px auto;
    overflow: hidden;
    font-family: bold;
    text-transform: uppercase;
}
.Ranking {
font-size: 30px;
}
.flagge {
    height: 20px;
    width: 35px;
    padding-top: 9.2px;
}
.Playername1 {
    color: #202020;
    text-align: left;
    left: 80px;
    text-transform: uppercase;
    width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:  nowrap;
    position: absolute;
}
.Playername2 {
    color: #202020;
    text-align: left;
    left: 525px;
    text-transform: uppercase;
    width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:  nowrap;
    position: absolute;
}
.Playername3 {
    color: #202020;
    text-align: left;
    left: 975px;
    text-transform: uppercase;
    width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:  nowrap;
    position: absolute;
}
.Playername4 {
    color: #202020;
    text-align: left;
    left: 1430px;
    text-transform: uppercase;
    width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:  nowrap;
    position: absolute;
}
.Score1 {
    color: #202020;
    text-align: left;
    left: 420px;
    text-transform: uppercase;
    width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:  nowrap;
    position: absolute;
}
.Score2 {
    color: #202020;
    text-align: left;
    left: 865px;
    text-transform: uppercase;
    width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:  nowrap;
    position: absolute;
}
.Score3 {
    color: #202020;
    text-align: left;
    left: 1315px;
    text-transform: uppercase;
    width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:  nowrap;
    position: absolute;
}
.Score4 {
    color: #202020;
    text-align: left;
    left: 1770px;
    text-transform: uppercase;
    width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:  nowrap;
    position: absolute;
}
.flags1 {
    left: 370px;
}
.flags2 {
    left: 815px;
}
.flags3 {
    left: 1265px;
}
.flags4 {
    left: 1720px;
}
.Budget1 {
    font-size: 40px;
    color: #22316d;
    text-align: left;
    left: 247px;
    text-transform: uppercase;
    width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:  nowrap;
    position: absolute;
}
.Budget2 {
    font-size: 40px;
    color: #22316d;
    text-align: left;
    left: 692px;
    text-transform: uppercase;
    width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:  nowrap;
    position: absolute;
}
.Budget3 {
    font-size: 40px;
    color: #22316d;
    text-align: left;
    left: 1133px;
    text-transform: uppercase;
    width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:  nowrap;
    position: absolute;
}
.Budget4 {
    font-size: 40px;
    color: #22316d;
    text-align: left;
    left: 1593px;
    text-transform: uppercase;
    width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:  nowrap;
    position: absolute;
}
.Zeile0 {
    position: absolute;
    top: 592px;
}
.Zeile1 {
    position: absolute;
    top: 710px;
}
.Zeile2 {
    position: absolute;
    top: 770px;
}
.Zeile3 {
    position: absolute;
    top: 830px;
}
.Zeile4 {
    position: absolute;
    top: 890px;
}
.Zeile5 {
    position: absolute;
    top: 950px;
}