@font-face {
    font-family: bold;
    font-style: normal;
    src: url(CamptonBold.otf);
}
@keyframes example {
    from {left: 0px;}
    to {left: 287px;}
}
.Playername {
font-family: bold;
position: absolute;
font-size: 48px;
color: #ffffff;
text-transform: uppercase;
text-align: center;
text-shadow: black 2px 2px 5px;
}
.Zeile1 {
    background-color: blue;
    left: 0px;
    top: 780px;
    width: 645px;
    animation-name: example;
    animation-duration: 5s;
}
.Zeile2 {
    background-color: blueviolet;
    left: 287px;
    top: 835px;
    font-size: 36px;
    width: 645px;
}