@font-face {
    font-family: bold;
    font-style: normal;
    src: url(CamptonBold.otf);
}
@keyframes on {
    0% {width: 0px; opacity: 1;}
    33% {width: 545px;opacity: 1;}
    100% {width: 545px;}
}
@keyframes off {
    0% {width: 545px; opacity: 1;}
    33% {width: 0px;opacity: 0;}
    100% {width: 0px;}
}
.Binde {
    position: absolute;
}
.main {
    width: 0px;
    animation-name: on;
    animation-duration: 20s;
    animation-timing-function: ease-out; 
    animation-fill-mode: forwards;
}
.text {
font-family: bold;
position: absolute;
font-size: 48px;
color: #000000;
text-transform: uppercase;
text-align: left;
overflow: hidden;
text-overflow: clip;
text-wrap: nowrap;
}
.Zeile1 {
    left: 317px;
    top: 907px;
    width: 545px;
}
.on {
    animation-name: on;
    animation-duration: 4s;
    animation-timing-function: ease-out; 
    animation-fill-mode: forwards;
}
.off {
    animation-name: off;
    animation-duration: 4s;
    animation-timing-function: ease-out; 
}