@font-face {
    font-family: bold;
    font-style: normal;
    src: url(CamptonBold.otf);
}
    
.Row1{
    position: absolute;
    top: 40px;
    left: 20px;
}
.Row2{
    position: absolute;
    top: 40px;
    left: 56px;
}
.Row3{
    position: absolute;
    top: 40px;
    left: 92px;
}
.Row4{
    position: absolute;
    top: 40px;
    left: 128px;
}
.Row5{
    position: absolute;
    top: 40px;
    left: 164px;
}
.Row6{
    position: absolute;
    top: 40px;
    left: 200px;
}
.Placement {
    font-size: 28px;
    font-family: bold;
    position: absolute;
    color: white;
}