@font-face {
    font-family: bold;
    font-style: normal;
    src: url(CamptonBold.otf);
}
.Playername {
font-family: bold;
position: absolute;
text-align: center;
font-size: 64px;
color: #1a2e35;
left: 186px;
text-transform: uppercase;
width: 400px;
text-shadow: 2px 2px;
}
.Zeile1 {
    top: 325px;
}
.Zeile2 {
    top: 476px;
}
.Zeile3 {
    top: 624px;
}
.Zeile4 {
    top: 775px;
}