@font-face {
    font-family: bold;
    font-style: normal;
    src: url(CamptonBold.otf);
}
.Playername {
font-family: bold;
position: absolute;
text-align: center;
font-size: 54px;
color: #1a2e35;
left: 145px;
text-transform: uppercase;
width: 800px;
text-shadow: 2px 2px 5px;
}
.Zeile1 {
    top: 335px;
}
.Zeile2 {
    top: 486px;
}
.Zeile3 {
    top: 634px;
}
.Zeile4 {
    top: 785px;
}